
<div class="col-md-8">
  <li>
    <% if user.image %>
      <%= image_tag(user.image, alt: user.username,  size: '50x50', class: "gravatar") %>
    <% else %>
      <%= gravatar_for user, size: 50 %>
    <% end %>
    <%= link_to user.username, user %>
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "| delete", user, method: :delete,
                                data: { confirm: "are you sure?" } %>
      <%= form_for user do |f| %>
      <%= f.check_box :queen, class: "cb" %>
      <%= f.label :queen, "queen?", class: "l" %><br>
      <%= f.check_box :admin, class: "cb" %>
      <%= f.label :admin, "admin?", class: "l" %>
      <%= f.submit %>
    <% end %>
    <% end %>
  </li>
</div>
