<% @user ||= current_user %>
<section class="user_info">
    <% if @user.image %>
      <%= image_tag(@user.image, alt: @user.username,  size: '50x50', class: "gravatar") %>
    <% else %>
      <%= gravatar_for @user, size: 50 %>
    <% end %>
  <h1><%= link_to @user.username, @user, :title => "visit profile for #{@user.username}" %></h1>
  <h2><%= full_name(@user) %></h2>
  <h2><%= mail_to @user.email, @user.email, :title => "send an email to #{@user.email}" %></h2>
  <%= render 'shared/stats' %>
</section>
